{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}




{% block content %}


<h1> Change Password ...</h1>
<br/> <br/>
<div class = 'form-group'>

<form method ="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<ul>
		<br>
	<li> Your Password should not be similar to your personal Information </li>
	<li> Your Password should contain at least 8 Characters (Characters should contain a combination of Alphabeths and Numbers) </li>
</ul>
	<button class="btn btn-danger"> Update </button>



</div>





   
 {% endblock %}
